<h1>About Word Counter</h1>

<p>Named for John G. Nicolay, President Lincoln's personal secretary, this is considered the "first draft" of the speech, begun in Washington on White house stationery. The second page is writen on different paper stock, indicating it was finished in Gettysburg before the cemetery dedication began. Lincoln gave this draft to Nicolay, who went to Gettysburg with Lincoln and witnessed the speech. The Library of Congress owns this manuscript.</p>

<a href="{% url 'home' %}">Return Home</a>
